In [1]:
import os
import sys
from pyspark.sql import *

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:

spark = SparkSession.builder \
                    .appName("Hello Spark SQL") \
                    .master("local[3]") \
                    .getOrCreate()

# we can use below format as well :
survey_df = spark.read \
                .format("file_type = csv|json|parquet") \
                .option("inferSchema", "true") \
                .load("flight-time.csv")
survey_df.show()

# Read data from csv file

In [3]:
survey_df = spark.read \
                .option("header", "true") \
                .option("inferSchema", "true") \
                .csv("flight-time.csv")
survey_df.show()

+--------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
| FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_TIME|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|CANCELLED|DISTANCE|
+--------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|1/1/2000|        DL|             1451|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1115|    1113|     1343|      5|        1400|    1348|        0|     946|
|1/1/2000|        DL|             1479|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1315|    1311|     1536|      7|        1559|    1543|        0|     946|
|1/1/2000|        DL|             1857|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1415|    1414|     1642|      9|        1721|    1651|        0|     946|
|1/1/2000|        DL|             1997|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1715|    1720|     1955|     10|        2013|    2005|        0|     946|
|1/1/2000|        DL|             2065|   BOS|      Boston, MA| ATL|   Atlanta, GA|        2015|    2010|     2230|     10|        2300|    2240|        0|     946|
|1/1/2000|        US|             2619|   BOS|      Boston, MA| ATL|   Atlanta, GA|         650|     649|      956|      7|         955|    1003|        0|     946|
|1/1/2000|        US|             2621|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1440|    1446|     1713|      4|        1738|    1717|        0|     946|
|1/1/2000|        DL|              346|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1740|    1744|     1957|      9|        2008|    2006|        0|     449|
|1/1/2000|        DL|              412|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1345|    1345|     1552|      9|        1622|    1601|        0|     449|
|1/1/2000|        DL|              299|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        1245|    1245|     1443|      5|        1455|    1448|        0|     712|
|1/1/2000|        DL|              495|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        2035|    2035|     2226|      9|        2241|    2235|        0|     712|
|1/1/2000|        DL|              677|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|         710|     710|      940|      7|         925|     947|        0|     712|
|1/1/2000|        DL|              251|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        2040|    2100|     2235|      7|        2233|    2242|        0|     576|
|1/1/2000|        DL|             1003|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1635|    1838|     2020|     12|        1832|    2032|        0|     576|
|1/1/2000|        DL|             1501|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1430|    1435|     1623|     12|        1634|    1635|        0|     576|
|1/1/2000|        DL|             1907|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         530|     530|      716|      4|         723|     720|        0|     576|
|1/1/2000|        DL|             2063|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1250|    NULL|     NULL|   NULL|        1449|    NULL|        1|     576|
|1/1/2000|        DL|             2111|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1845|    1855|     2041|      9|        2046|    2050|        0|     576|
|1/1/2000|        US|             2632|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         710|     710|     NULL|   NULL|         905|    NULL|        0|     576|
|1/1/2000|        US|             2967|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1700|    1700|     1845|      6|        1853|    1851|        0|     576|
+--------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
only showing top 20 rows

# Read data from json file

In [4]:
survey_df = spark.read \
                .json("flight-time.json")
survey_df.show()

+--------+---------+------------+------------+--------+----+--------------+--------+--------+----------+-----------------+------+----------------+-------+---------+
|ARR_TIME|CANCELLED|CRS_ARR_TIME|CRS_DEP_TIME|DEP_TIME|DEST|DEST_CITY_NAME|DISTANCE| FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|TAXI_IN|WHEELS_ON|
+--------+---------+------------+------------+--------+----+--------------+--------+--------+----------+-----------------+------+----------------+-------+---------+
|    1348|        0|        1400|        1115|    1113| ATL|   Atlanta, GA|     946|1/1/2000|        DL|             1451|   BOS|      Boston, MA|      5|     1343|
|    1543|        0|        1559|        1315|    1311| ATL|   Atlanta, GA|     946|1/1/2000|        DL|             1479|   BOS|      Boston, MA|      7|     1536|
|    1651|        0|        1721|        1415|    1414| ATL|   Atlanta, GA|     946|1/1/2000|        DL|             1857|   BOS|      Boston, MA|      9|     1642|
|    2005|        0|        2013|        1715|    1720| ATL|   Atlanta, GA|     946|1/1/2000|        DL|             1997|   BOS|      Boston, MA|     10|     1955|
|    2240|        0|        2300|        2015|    2010| ATL|   Atlanta, GA|     946|1/1/2000|        DL|             2065|   BOS|      Boston, MA|     10|     2230|
|    1003|        0|         955|         650|     649| ATL|   Atlanta, GA|     946|1/1/2000|        US|             2619|   BOS|      Boston, MA|      7|      956|
|    1717|        0|        1738|        1440|    1446| ATL|   Atlanta, GA|     946|1/1/2000|        US|             2621|   BOS|      Boston, MA|      4|     1713|
|    2006|        0|        2008|        1740|    1744| ATL|   Atlanta, GA|     449|1/1/2000|        DL|              346|   BTR| Baton Rouge, LA|      9|     1957|
|    1601|        0|        1622|        1345|    1345| ATL|   Atlanta, GA|     449|1/1/2000|        DL|              412|   BTR| Baton Rouge, LA|      9|     1552|
|    1448|        0|        1455|        1245|    1245| ATL|   Atlanta, GA|     712|1/1/2000|        DL|              299|   BUF|     Buffalo, NY|      5|     1443|
|    2235|        0|        2241|        2035|    2035| ATL|   Atlanta, GA|     712|1/1/2000|        DL|              495|   BUF|     Buffalo, NY|      9|     2226|
|     947|        0|         925|         710|     710| ATL|   Atlanta, GA|     712|1/1/2000|        DL|              677|   BUF|     Buffalo, NY|      7|      940|
|    2242|        0|        2233|        2040|    2100| ATL|   Atlanta, GA|     576|1/1/2000|        DL|              251|   BWI|   Baltimore, MD|      7|     2235|
|    2032|        0|        1832|        1635|    1838| ATL|   Atlanta, GA|     576|1/1/2000|        DL|             1003|   BWI|   Baltimore, MD|     12|     2020|
|    1635|        0|        1634|        1430|    1435| ATL|   Atlanta, GA|     576|1/1/2000|        DL|             1501|   BWI|   Baltimore, MD|     12|     1623|
|     720|        0|         723|         530|     530| ATL|   Atlanta, GA|     576|1/1/2000|        DL|             1907|   BWI|   Baltimore, MD|      4|      716|
|    NULL|        1|        1449|        1250|    NULL| ATL|   Atlanta, GA|     576|1/1/2000|        DL|             2063|   BWI|   Baltimore, MD|   NULL|     NULL|
|    2050|        0|        2046|        1845|    1855| ATL|   Atlanta, GA|     576|1/1/2000|        DL|             2111|   BWI|   Baltimore, MD|      9|     2041|
|    NULL|        0|         905|         710|     710| ATL|   Atlanta, GA|     576|1/1/2000|        US|             2632|   BWI|   Baltimore, MD|   NULL|     NULL|
|    1851|        0|        1853|        1700|    1700| ATL|   Atlanta, GA|     576|1/1/2000|        US|             2967|   BWI|   Baltimore, MD|      6|     1845|
+--------+---------+------------+------------+--------+----+--------------+--------+--------+----------+-----------------+------+----------------+-------+---------+
only showing top 20 rows

# Read data from parquet file

In [5]:
survey_df = spark.read \
                .parquet("flight-time.parquet")
survey_df.show()

+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|ORIGIN_CITY_NAME|DEST|DEST_CITY_NAME|CRS_DEP_TIME|DEP_TIME|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|CANCELLED|DISTANCE|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
|2000-01-01|        DL|             1451|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1115|    1113|     1343|      5|        1400|    1348|        0|     946|
|2000-01-01|        DL|             1479|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1315|    1311|     1536|      7|        1559|    1543|        0|     946|
|2000-01-01|        DL|             1857|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1415|    1414|     1642|      9|        1721|    1651|        0|     946|
|2000-01-01|        DL|             1997|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1715|    1720|     1955|     10|        2013|    2005|        0|     946|
|2000-01-01|        DL|             2065|   BOS|      Boston, MA| ATL|   Atlanta, GA|        2015|    2010|     2230|     10|        2300|    2240|        0|     946|
|2000-01-01|        US|             2619|   BOS|      Boston, MA| ATL|   Atlanta, GA|         650|     649|      956|      7|         955|    1003|        0|     946|
|2000-01-01|        US|             2621|   BOS|      Boston, MA| ATL|   Atlanta, GA|        1440|    1446|     1713|      4|        1738|    1717|        0|     946|
|2000-01-01|        DL|              346|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1740|    1744|     1957|      9|        2008|    2006|        0|     449|
|2000-01-01|        DL|              412|   BTR| Baton Rouge, LA| ATL|   Atlanta, GA|        1345|    1345|     1552|      9|        1622|    1601|        0|     449|
|2000-01-01|        DL|              299|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        1245|    1245|     1443|      5|        1455|    1448|        0|     712|
|2000-01-01|        DL|              495|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|        2035|    2035|     2226|      9|        2241|    2235|        0|     712|
|2000-01-01|        DL|              677|   BUF|     Buffalo, NY| ATL|   Atlanta, GA|         710|     710|      940|      7|         925|     947|        0|     712|
|2000-01-01|        DL|              251|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        2040|    2100|     2235|      7|        2233|    2242|        0|     576|
|2000-01-01|        DL|             1003|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1635|    1838|     2020|     12|        1832|    2032|        0|     576|
|2000-01-01|        DL|             1501|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1430|    1435|     1623|     12|        1634|    1635|        0|     576|
|2000-01-01|        DL|             1907|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         530|     530|      716|      4|         723|     720|        0|     576|
|2000-01-01|        DL|             2063|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1250|    NULL|     NULL|   NULL|        1449|    NULL|        1|     576|
|2000-01-01|        DL|             2111|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1845|    1855|     2041|      9|        2046|    2050|        0|     576|
|2000-01-01|        US|             2632|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|         710|     710|     NULL|   NULL|         905|    NULL|        0|     576|
|2000-01-01|        US|             2967|   BWI|   Baltimore, MD| ATL|   Atlanta, GA|        1700|    1700|     1845|      6|        1853|    1851|        0|     576|
+----------+----------+-----------------+------+----------------+----+--------------+------------+--------+---------+-------+------------+--------+---------+--------+
only showing top 20 rows