In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd


# Reading data through csv using pandas

In [4]:
df = pd.read_csv("01_pandas_basic.csv")
df

  day \ttemperature\twindpseed
0              01-01-17\t30\t7
1              02-01-17\t31\t8
2              03-01-17\t32\t9
3             04-01-17\t33\t10
4             05-01-17\t34\t11
5             06-01-17\t35\t12
6             07-01-17\t36\t13
7             08-01-17\t37\t14
8             09-01-17\t38\t15

# to print column names

In [15]:
df.columns

Index(['day', 'temperature', 'windspeed'], dtype='object')

# to print specific column data - pass column name

In [16]:
df.day # df['day']

0    01/01/2017
1    01/02/2017
Name: day, dtype: object

# to print few columns use df[['col1', 'col2']]

In [17]:
df[['day', 'windspeed']]

          day  windspeed
0  01/01/2017          7
1  01/02/2017          8

# to check type of data sets

In [20]:
type(df['windspeed'])

pandas.core.series.Series

# use df.describe to get the all statistics for related data like min, max, mean etc.

In [24]:
df.describe()

       temperature  windspeed
count      2.00000   2.000000
mean      33.50000   7.500000
std        2.12132   0.707107
min       32.00000   7.000000
25%       32.75000   7.250000
50%       33.50000   7.500000
75%       34.25000   7.750000
max       35.00000   8.000000

# pandas initializes index number for each row , to set it accordingly use set_index. This will return new dataframe so as to replace it as original use inplace =True.
# To reset to original or integer numbers use df.reset_index(inplace= True)

In [31]:
df.set_index('day', inplace = True)

            temperature  windspeed
day
01/01/2017           32          7
01/02/2017           35          8

# find maximum numbder

In [22]:
df['temperature'].max()

35

# greater than or less than operations

In [25]:
df[df.temperature<35]

          day  temperature  windspeed
0  01/01/2017           32          7

# indexing and slicing using pandas use specific rows

In [14]:
df[2:5]
df

          day  temperature  windspeed
0  01/01/2017           32          7
1  01/02/2017           35          8

# Reading data through dictionary in python using pandas

In [7]:
weather_data = {
    'day':['01/01/2017', '01/02/2017'],
    'temperature': [32,35],
    'windspeed':[7,8]
}
df = pd.DataFrame(weather_data)
df
rows,columns = df.shape
rows
columns

3

# df.head will print first few ros if you have large datasets

In [12]:
df.head
df
df.head(0)
df

          day  temperature  windspeed
0  01/01/2017           32          7
1  01/02/2017           35          8

In [11]:
df.tail(1)

          day  temperature  windspeed
1  01/02/2017           35          8