In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nitsachdeva\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd


# Reading data through csv using pandas

In [5]:
df = pd.read_csv("01_pandas_basic.csv")
df

        day  temperature  windspeed
0  01-01-17           24          4
1  02-01-17           25          5
2  03-01-17           26          6
3  04-01-17           27          7
4  05-01-17           28          8
5  06-01-17           29          9
6  07-01-17           30         10


# Reading data through excel using pandas

In [6]:
df= pd.read_excel("02_creating_dataframe_excel.xlsx", "Sheet1")
df

          day  temperature  windspeed
0  2024-01-01           24          5
1  2024-01-02           25          6
2  2024-01-03           26          7
3  2024-01-04           27          8
4  2024-01-05           28          9
5  2024-01-06           29          5
6  2024-01-07           30          6
7  2024-01-08           31          7
8  2024-01-09           32          8
9  2024-01-10           33          9
10 2024-01-11           34         10
11 2024-01-12           35         11
12 2024-01-13           36         12
13 2024-01-14           37         13

# Reading data through dictionary in python using pandas

In [7]:
weather_data = {
    'day':['01/01/2017', '01/02/2017'],
    'temperature': [32,35],
    'windspeed':[7,8]
}
df = pd.DataFrame(weather_data)
df

          day  temperature  windspeed
0  01/01/2017           32          7
1  01/02/2017           35          8

# Reading data through list of tuples in python using pandas

In [8]:
weather_tuples = [
    ('01/01/2024',30,10),
    ('02/01/2024',30,10),
    ('03/01/2024',30,10),
    ('04/01/2024',30,10),
    ('04/01/2024',30,10),
]
df = pd.DataFrame(weather_tuples,columns = ["day", "tempearture", "windspeed"])
df

          day  tempearture  windspeed
0  01/01/2024           30         10
1  02/01/2024           30         10
2  03/01/2024           30         10
3  04/01/2024           30         10
4  04/01/2024           30         10

# Reading data through list of dictonaries in python using pandas

In [9]:
weather_list_dict = [
    {'day':'01/01/2017', 'temperature': 33, 'windspeed':4},
    {'day':'01/01/2017', 'temperature': 33, 'windspeed':4},
    {'day':'01/01/2017', 'temperature': 33, 'windspeed':4},
    {'day':'01/01/2017', 'temperature': 33, 'windspeed':4}
]
df = pd.DataFrame(weather_list_dict)
df

          day  temperature  windspeed
0  01/01/2017           33          4
1  01/01/2017           33          4
2  01/01/2017           33          4
3  01/01/2017           33          4