In [4]:
import pandas as pd
temp_df = pd.DataFrame({
    "city" : ["mumbai", "delhi", "blr", "agra"],
    "temperature": [23,33,21, 34],

})
temp_df

     city  temperature
0  mumbai           23
1   delhi           33
2     blr           21
3    agra           34

In [5]:
windspeed_df = pd.DataFrame({
    "city" : ["mumbai", "delhi", "blr"],
    "windspeed": [6,3,12],

})
windspeed_df

     city  windspeed
0  mumbai          6
1   delhi          3
2     blr         12

# Inner Join

In [6]:
df = pd.merge(temp_df, windspeed_df, on ="city") # df = pd.merge(temp_df, windspeed_df, on ="city", how = "inner")
df

     city  temperature  windspeed
0  mumbai           23          6
1   delhi           33          3
2     blr           21         12

# Outer Join

In [7]:
df = pd.merge(temp_df, windspeed_df, on ="city", how = "outer")
df

     city  temperature  windspeed
0  mumbai           23        6.0
1   delhi           33        3.0
2     blr           21       12.0
3    agra           34        NaN

# Left Join

In [8]:
df = pd.merge(temp_df, windspeed_df, on ="city", how = "left")
df

     city  temperature  windspeed
0  mumbai           23        6.0
1   delhi           33        3.0
2     blr           21       12.0
3    agra           34        NaN

# Right Join
# indicator = True will give you the details from which table it come from

In [10]:
df = pd.merge(temp_df, windspeed_df, on ="city", how = "right", indicator=True)
df

     city  temperature  windspeed _merge
0  mumbai           23          6   both
1   delhi           33          3   both
2     blr           21         12   both